<form [formGroup]="form" (ngSubmit)="update(form)">
  <div class="field-name">ელექტრონული ფოსტა</div>
  <input
    [ngStyle]="getInputStyle('email')"
    [formControlName]="'email'"
    type="email"
    id="email"
    maxlength="50"
  />
  <div class="field-name">პაროლი</div>
  <input
    [ngStyle]="getInputStyle('password')"
    [formControlName]="'password'"
    type="password"
    placeholder="••••••••••"
    id="password"
    maxlength="50"
  />
  <abbr title="პაროლი უნდა შეიცავდეს მინიმუმ 6 სიმბოლოს">🛈</abbr>
  <div class="field-name">სახელი</div>
  <input
    [ngStyle]="getInputStyle('fName')"
    [formControlName]="'fName'"
    type="text"
    name="fName"
    id="fName"
    maxlength="50"
  />
  <div class="field-name">გვარი</div>
  <input
    [ngStyle]="getInputStyle('lName')"
    [formControlName]="'lName'"
    type="text"
    name="lName"
    id="lName"
    maxlength="50"
  />
  <button type="submit" class="btn-login">შენახვა</button>
</form>
<div *ngIf="form.invalid && isSubmitted" style="margin-top: 10px; color: red">
  გთხოვთ შეამოწმოთ წითლად მონიშნული ველები
</div>
<div style="padding-top: 20px">
  <a (click)="resetForm()" style="font-weight: bold">გასუფთავება</a>
</div>
