:host {
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.07);
  display: flex;
  z-index: 1;
}

.btn {
  background-color: DodgerBlue; 
  border: none; 
  color: white; 
  padding: 12px 16px;
  font-size: 24px; 
  cursor: pointer;
  visibility: hidden;
}

:host:hover > .btn{
  visibility: visible;
}
