  <form [formGroup]="form" (ngSubmit)="login(form)">
    <input
      [formControlName]="'username'"
      type="text"
      placeholder="მომხმარებელი ან საიდენტიფიკაციო კოდი"
      id="username"
      maxlength="60"
    />
    <div
      *ngIf="
        (form.get('username')?.hasError('required') ||
          form.get('username')?.hasError('whitespace')) &&
        isSubmitted
      "
      style="margin-top: 10px; color: red"
    >
      გთხოვთ შეავსოთ ველი
    </div>
    <input
      [formControlName]="'password'"
      type="password"
      placeholder="პაროლი"
      id="password"
      maxlength="50"
    />
    <div
      *ngIf="form.get('password')?.hasError('required') && isSubmitted"
      style="margin-top: 10px; color: red"
    >
      გთხოვთ შეავსოთ ველი
    </div>
    <button type="submit" class="btn-login">ავტორიზაცია</button>
  </form>
  <div *ngIf="invalidLogin" style="margin-top: 10px; color: red">
    გთხოვთ შეამოწმოთ მომხმარებელი და პაროლი.
  </div>
  <!-- <div style="padding-top: 30px">
    <a href="" style="font-weight: bold">რეგისტრაცია</a>
  </div>
  <div style="padding-top: 10px">
    <a href="">მომხმარებლის / პაროლის აღდგენა</a>
  </div> -->