:host {
    font-family: BPG Arial;
    font-size: 14px;
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 450px;
    padding: 35px 0 35px 0;
    box-shadow: 0px 3px 10px #cfcfcf;
  }
  input[type="text"],
  input[type="password"] {
    font-family: inherit;
    background: #fbfbfb;
    padding: 8px;
    border: 1px solid #d1d1d1;
    color: #9e9e9e;
    outline: 0;
    width: 333px;
    height: 35px;
    margin-top: 10px;
    transition: background 0.2s linear;
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    background-color: inherit;
  }
  
  .btn-login {
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    margin-top: 10px;
    background-color: #3c76cc;
    width: 350px;
    height: 50px;
    font-size: 19px;
    color: white;
    border-radius: 5px;
    border: 1px solid #3c76cc;
    transition: background 0.2s linear;
  }
  .btn-login:hover {
    background: #4f83d1;
  }
  
  a {
    color: #767676;
    text-decoration: none;
    transition: color 0.2s linear;
  }
  a:hover {
    color: #313131;
  }
  
  