<ul class="items">
  <li class="header">
    <div class="item-name">სახელი</div>
    <div class="item-quantity">რაოდენობა</div>
    <div class="item-price">ფასი</div>
    <div class="cart-btn"></div>
  </li>
  <li *ngFor="let item of items$" class="item">
    <div class="item-name">{{ item.name }}</div>
    <div class="item-quantity">{{ item.quantity }}</div>
    <div class="item-price">{{ item.price }}₾</div>
    <div class="cart-btn">
      <img src="assets\cart-icon.svg" (click)="updateCart(item.id, 1)" />
      <div class="popup">
        <p>+</p>
        &nbsp;კალათაში დამატება
      </div>
    </div>
  </li>
</ul>
<ul class="cart-items">
  <li class="header">
    <img src="assets\cart-icon-green.svg" />
    &nbsp;&nbsp;&nbsp;&nbsp;ჩემი კალათა
  </li>
  <li *ngFor="let cartItem of cartItems$" class="cart-item">
    <button
      class="cart-item-close-btn"
      (click)="deleteCartItem(cartItem.item.id)"
    >
      <img src="assets\cart-item-close-btn.svg" />
    </button>
    <div class="cart-item-header">
      <div class="cart-item-name">პროდუქტის დასახელება</div>
      <div class="cart-item-quantity">რაოდენობა</div>
      <div class="cart-item-price">ფასი</div>
      <div class="cart-item-sum">ჯამი</div>
    </div>
    <div class="cart-item-content">
      <div class="cart-item-name">{{ cartItem.item.name }}</div>
      <div class="cart-item-quantity">
        <button
          class="quantity-btn"
          id="quantity-decrement"
          (click)="updateCart(cartItem.item.id, -1)"
        >
          &minus;
        </button>
        <div class="quantity-amount">{{ cartItem.quantity }}</div>
        <button
          class="quantity-btn"
          id="quantity-increment"
          (click)="updateCart(cartItem.item.id, 1)"
        >
          +
        </button>
      </div>
      <div class="cart-item-price">{{ cartItem.item.price }}₾</div>
      <div class="cart-item-sum">{{ cartItem.sumPrice }}₾</div>
    </div>
  </li>
</ul>
