<form [formGroup]="form" (ngSubmit)="register(form)">
  <input
    [formControlName]="'email'"
    type="email"
    placeholder="ელექტრონული ფოსტა"
    id="email"
    maxlength="50"
    autofocus
  />
  <input
    [formControlName]="'password'"
    type="password"
    placeholder="პაროლი"
    id="password"
    maxlength="50"
  />
  <abbr title="პაროლი უნდა შეიცავდეს მინიმუმ 6 სიმბოლოს">🛈</abbr>
  <input
    [formControlName]="'fname'"
    type="text"
    name="fname"
    placeholder="სახელი"
    id="fname"
    maxlength="50"
  />
  <input
    [formControlName]="'lname'"
    type="text"
    name="lname"
    placeholder="გვარი"
    id="lname"
    maxlength="50"
  />
  <button type="submit" class="btn-login">რეგისტრაცია</button>
</form>
<div style="padding-top: 30px">
  <a routerLink="/login" style="font-weight: bold">ავტორიზაცია</a>
</div>
